extends layout

block content
    div.panel.panel-default
        div.panel-body
            h3 Access log
            div This page lists the amount of times and the dates that your data was accessed; it also lists the apps and companies that are accessing it.
            .row.hidden.table
                .col-md-8.col-md-offset-2
                    table.table.table-striped.table-bordered#app
                        caption Track By App
                        thead
                            tr
                                th APP
                                th Requests
                        tbody
            .row.hidden.table
                .col-md-8.col-md-offset-2
                    table.table.table-striped.table-bordered#company
                        caption Track By Company
                        thead
                            tr
                                th APP
                                th Requests
                        tbody
            .row.hidden.table
                .col-md-8.col-md-offset-2
                    table.table.table-striped.table-bordered#loc
                        caption Track By Location
                        thead
                            tr
                                th APP
                                th Requests
                        tbody
            .row.hidden.table
                .col-md-8.col-md-offset-2
                    table.table.table-striped.table-bordered#obj
                        caption Track By Object
                        thead
                            tr
                                th Object Data
                                th Requests
                                th Object ID
                        tbody
            .row.chart
                table.table.table-striped.table-bordered#visits(style="position: absolute; left: -9999em;")
                    caption Visits
                    thead
                        tr
                            th DATE
                            th Requests
                    tbody
                        each val, index in visitResults
                            tr
                                td= index
                                td= val
            .row.chart
                .col-md-8.col-md-offset-2
                    #visitChartContainer
            .row.chart &nbsp;
            .row.chart
                hr
            .row.chart &nbsp;
            .row.chart
                .col-md-8.col-md-offset-2
                    #companyChartContainer
            .row.chart &nbsp;
            .row.chart
                hr
            .row.chart &nbsp;
            .row.chart
                .col-md-8.col-md-offset-2
                    #appChartContainer
            .row.chart &nbsp;
            .row.chart
                hr
            .row.chart &nbsp;
            .row.chart
                .col-md-8.col-md-offset-2
                    #objChartContainer
            .row.chart &nbsp;
            .row.chart
                hr
            .row.chart &nbsp;
            .row.chart
                .col-md-8.col-md-offset-2
                    #locChartContainer

    block append scripts
        script("type=text/javascript").
            $(document).ready(function () {
                var companyResults = !{JSON.stringify(companyResults)};
                $('#company').DataTable({
                "bProcessing" : true,
                data: companyResults,
                columns: [
                {data: 'label'},
                {data: 'nb_visits'}
                ]
                });
                var objResults = !{JSON.stringify(objResults)};
                $('#obj').DataTable({
                "bProcessing" : true,
                data: objResults,
                columns: [
                {data: 'contentTarget'},
                {data: 'nb_visits'},
                {data: 'label'}
                ]
                });
                var locResults = !{JSON.stringify(locResults)};
                $('#loc').DataTable({
                "bProcessing" : true,
                data: locResults,
                columns: [
                {data: 'label'},
                {data: 'nb_visits'}
                ]
                });
                var appResults = !{JSON.stringify(appResults)};
                $('#app').DataTable({
                    "bProcessing": true,
                    data         : appResults,
                    columns      : [
                        {data: 'label'},
                        {data: 'nb_visits'}
                    ]
                });
                $('#companyChartContainer').highcharts({
                    data: {
                        table: 'company'
                    },
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: 'Percentage of Requests Per Company'
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.f} %'
                            }
                        }
                    },
                    yAxis: {
                        allowDecimals: false,
                        title: {
                            text: 'Data Accesses'
                        },
                        min: 0
                    },
                    credits: {
                        enabled: false
                    }
                });
                $('#appChartContainer').highcharts({
                    data: {
                        table: 'app'
                    },
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Amount of Data Entries Accessed Per App'
                    },
                    legend: {
                        enabled: false
                    },
                    yAxis: {
                        allowDecimals: false,
                        title: {
                            text: 'Number of Data Entries Accessed'
                        },
                        min: 0
                    },
                    credits: {
                        enabled: false
                    }
                });
                $('#objChartContainer').highcharts({
                    data: {
                        table: 'obj',
                        endColumn: 1
                    },
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Amount of Data Entries Accessed Per Data Type'
                    },
                    legend: {
                        enabled: false
                    },
                    yAxis: {
                        allowDecimals: false,
                        title: {
                            text: 'Number of Data Entries Accessed'
                        },
                        min: 0
                    },
                    credits: {
                        enabled: false
                    }
                });
                $('#locChartContainer').highcharts({
                    data: {
                        table: 'loc'
                    },
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Country from which your data was accessed'
                    },
                    legend: {
                        enabled: false
                    },
                    yAxis: {
                        allowDecimals: false,
                        title: {
                            text: 'Number of Data Entries Accessed'
                        },
                        min: 0
                    },
                    credits: {
                        enabled: false
                    }
                });
                $('#visitChartContainer').highcharts({
                    data: {
                        table: 'visits'
                    },
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Amount of Data Entries Accessed Per Day'
                    },
                    legend: {
                        enabled: false
                    },
                    yAxis: {
                        allowDecimals: false,
                        title: {
                            text: 'Number of Data Entries Accessed'
                        },
                        min: 0
                    },
                    credits: {
                        enabled: false
                    }
            });

            });


