extends new_layout
block content
    div.panel.panel-default
        div.panel-body
            h3 Subscriptions
            div This page lists the subscriptions associated with your account.
            div.row.clearfix
                div.col-md-6.column
                    h5 Subscribers to your Data
                    div.list-group
                        if (subscribers.length > 0)
                            each sub in JSON.parse(subscribers)
                                div.list-group-item
                                    p.list-group-item-text
                                    |  <b>Subscriber:</b> #{sub['@id']["_id"].split("/")[0]}
                                    p.list-group-item-text
                                    |  <b>Type:</b> #{sub['@id'].notification_type}
                                    p.list-group-item-text
                                    |  <b>Date Created:</b> #{sub['@id']._date_created}

                div.col-md-6.column
                    h5 Your Subscriptions to others
                    div.list-group
                        if (subscribers.length > 0)
                            each sub in JSON.parse(subscriptions)
                                div.list-group-item
                                    p.list-group-item-text
                                    |  <b>Subscriber:</b> #{sub['@id']['_id'].split("/")[0]}
                                    p.list-group-item-text
                                    |  <b>Type:</b> #{sub['@id'].notification_type}
                                    p.list-group-item-text
                                    |  <b>Date Created:</b> #{sub['@id']._date_created}